# APP
APP_CONTAINER_NAME=crawler-app
APP_IMAGE=crawler-app
APP_PORT=9000

# POSTGRES
POSTGRES_CONTAINER_NAME=crawler-postgres
POSTGRES_IMAGE=crawler-postgres
POSTGRES_PORT=5432
POSTGRES_PASSWORD=123456
POSTGRES_DB=crawler
POSTGRES_SSL_MODE=disable

# REDIS
REDIS_CONTAINER_NAME=crawler-redis
REDIS_IMAGE=crawler-redis
REDIS_PASSWORD=crawler
REDIS_PORT=6379
